
/* 
Gama de colores
Azul btn -> #3656d4
Azul titulo-nav -> #2a4ac8
Azul titulo-main -> #1f3e72
*/

/* 
font-weight
300
400
700 
*/

*, 
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --azul-btn: #3656d4;
    --azul-titulo-nav: #2a4ac8;
    --azul-titulo-main: #1f3e72;
    --body-font : 'Roboto', sans-serif;
    --padding-container: 60px 0;
    --color-p: #6d7b93;

}
body{
    font-family: var(--body-font);
    background-color: #fff;
}

/* * Aqui esya el outline */

main, section, a ,p , h1, h2, h3, img , div {
    outline: 1px solid #000;
}



.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1900px;
    padding: 40px 0;
    overflow: hidden;

}

nav {
    display: flex;
    align-items: center;
}
nav .title {
    font-size: 1.5em;
    display: block;
    color: var(--azul-titulo-nav);
    font-weight: 700;
}

nav .link {
    color: rgb(117, 116, 116);
    text-decoration: none;
    display: inline-block;
    margin-left: 3rem;
    font-weight: 700;
}

nav .link:first-of-type {
    margin-left: auto;
}

.btn {
    background-color: var(--azul-btn);
    color: #fff;
    display: inline-block;
    padding: 10px 10px;
    width: 120px;
    border-radius: 5px;
    appearance: button;
    backface-visibility: hidden;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-transform: none;
    font-size: 100%;
}

.btn:disabled {
    cursor: default;
}
.btn:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
nav .btn {
    margin-left: 2.2rem;
}

/* main */
img {width: 100%;}

main .intro {
    /* color: #ccc; */
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
}
main .intro .info {
    width: 50%;
    /* align-self: center; */
}
main .intro .info h1 {
    color: var(--azul-titulo-main);
    font-size: 4rem;
    padding: 3rem 0 1rem 0;
}

main .intro .info p{
    color: var(--color-p);
    line-height: 1.8em;
    margin-bottom: 2em;
}
main .intro .info .link {
    text-decoration: none;
    color: var(--color-p);
    font-weight: 700;
    margin-right: 2em;

}

main .info  img {
    width: 16px;
    margin-right: 10px;
}

main .intro .img {
    width: 50%;
}
main .intro .vac-bar {
    /* width: 70%; */
    /* position: absolute; */
    align-self: flex-end;
    /* margin-bottom: 2rem; */
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -6px 5px 16px 1px rgba(54,86,212,0.39);
    /* width: 70%; */
}
main .intro .vac-bar .item-bar{

    display: inline-block;
    /* font-size: 1.2rem; */

}

main .intro .vac-bar .item-bar .img{
    display: inline-block;
    width: 16px;
    margin-right: 10px;
}
main .intro .vac-bar .item-bar img {
    width: 100%;
    
}
main .intro .vac-bar .item-bar h3 {
    display: inline-block;
    font-weight: 400;

}
main .intro .vac-bar .item-bar p {
    padding-left: 30px;
    font-weight: 700;
    font-size: 1.2em;
}

main .intro .vac-bar button {
    /* display: inline-block; */
    margin: 2rem;
}
main .bramds {
    
}